<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La super web para kindle paperwhite 11</title>
    <style>
        h1{
            font-size: 3rem;
        }
    </style>
</head>
<body>
    <h1>Hola</h1>
    <div id="space"></div>
    <div id="fetcher"></div>
    <script>
        document.getElementById("space").innerHTML = 'js works';
        
        setTimeout(function() {
            document.getElementById("fetcher").innerHTML = 'hola';
        }, 6000);
    </script>
</body>
</html>